body {
  font-family: "pain-de-mie", sans-serif;
  margin: 0px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

a {
  text-decoration: none;
  color: white;
}

#Logo {
  border: none;
  color: white;
  background-color: #333;
  margin: 0px;
  padding: 30px 30px 0px 30px;
  font-size: 350%;
}

#Logo a:hover {
  color: #04AA6D;
}

li {
  border-radius: 15px;
  margin: 10px;
  border: white 1px solid;
  width: 15%;
}

li:nth-child(2) {
  margin-right: 5%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  border-radius: 15px;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
