body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

#Logo a:first-of-type {
  font-family: "pain-de-mie", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

a {
  text-decoration: none;
  color: white;
}

#Logo {
  border: none;
  color: white;
  background-color: #333;
  margin: 0px;
  padding: 30px 30px 0px 30px;
  font-size: 450%;
  display: flex;
}

#Logo a:hover {
  color: #04AA6D;
}

li {
  border-radius: 15px;
  margin: 10px;
  border: white 1px solid;
  width: 15%;
}

li:nth-child(2) {
  margin-right: 5%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  border-radius: 15px;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}

h1 {
  margin-left: 50%;
  font-size: 200%;
}

.rescue-btn {
  background-color: #333;
  color: white;
  border: none;
  padding: 15px 15px 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  cursor: pointer;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.rescue-btn:hover {
  background-color: #04AA6D;
}

#login-btn {
  margin-left: auto;
  margin-top: auto;
  margin-right: 3%;
  font-size: large;
  border: solid 1px white;
  border-radius: 15px;
  padding: 10px;
}